<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/underscore-umd-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="content"></div>
    <script src="./collections.js"></script>
    <!-- passing collection objects to underscore.js templates -->
    <script type="text/html" id="collection-template">
        <table>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Team</th>
            </thead>
            <tbody>
                <% _.each(players, function(player) { %>
                    <tr>
                        <td>
                            <%= player.name %>
                        </td>
                        <td>
                            <%= player.age %>
                        </td>
                        <td>
                            <%= player.team %>
                        </td>
                    </tr>
        
                <% })%>
            </tbody>
        </table>
    </script>
    <script src="./collection_templates.js"></script>
</body>
</html>